<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bloodstream Suite">
	<listeners>
        <listener class-name="plugins.HtmlReport"/>
  	</listeners>
  <test thread-count="5" name="Test">
    <classes>
       <class name="bloodstream.Suite"/>
      <class name="donationInfo.donations"/>
     <class name="donationInfo.donationShortDetail"/>
      <class name="donationInfo.groupStatusCount"/>
      <class name="donationInfo.orderTests"/>
      <class name="donationInfo.orderTestsStatusHistory"/>
     <class name="testinfo.orderTests"/> 
      <class name="testinfo.poolDetails"/> 
      <class name="testinfo.poolConstituents"/> 
      <class name="testinfo.groupStatusCount"/> 
    
      
      <class name="gridLayout.getTestInfoGridLayout"/>
      <class name="gridLayout.getDonationInfoGridLayout"/>
     <class name="gridLayout.putDonationInfogridLayout"/>
     <class name="gridLayout.putTestInfogridLayout"/>
     
      <class name="conclusions.approve"/>
      <class name="worklistInfo.worklistCalibratorsControls"/>
      <class name="conclusionInfo.conclusions"/>
     
      <class name="clientCode.putAssays"/>
      <class name="clientCode.putPrefixes"/>
      <class name="clientCode.getAssays"/>
      <class name="clientCode.getPrefixes"/>
      <class name="clientCode.getClientSites"/>
      
  
      
     
      
      
      
      
      
      
      
      
     
      
    </classes>
  </test> 
</suite>
